.menu{
    position:fixed;
    top:11vh;
    left:50%;
    transform:translateX(-50%) translateY(90vh);
    z-index:10;
    width:93%;
    height:80vh;
    box-sizing: border-box;
    padding-top:5vh;
    transition:0.5s;
}

.menu .button-classic{
    width:100%;
    margin-bottom:2.5vh;
}