.App{
  width:100%;
  min-height:100vh;
  box-sizing:border-box;
  transition:0.5s;
  overflow:hidden;
}

::-webkit-scrollbar{
  width:0.75vw;
  background-color:rgba(0,0,0,0);
}

body{
  transition:0.5s;
}

::-webkit-scrollbar-thumb{
  border-radius:10px;
  background-color:gray;
}

button:focus{
  outline: none;
}

button{
  cursor:pointer;
}

a{
  text-decoration:none;
  width:fit-content;
  margin:auto;
}

@media screen and (min-width:1200px){
  a{
    margin:0;
  }
}
