.portfolio-page-project .project .project-heading{
    padding-bottom:2vh;
}

.portfolio-page-project .paragraph{
    padding-bottom:15vh;
}

@media screen and (min-width:1200px){
    .portfolio-page-project .heading{
        padding-top:0;
        text-align: center;
    }
    .portfolio-page-project .fixed-down-bar{
        height:60vh;
    }
    .portfolio-page-project .fixed-down-bar .button-left{
        align-self:flex-start
    }
    .portfolio-page-project .fixed-down-bar .button-right{
        align-self:flex-start
    }
}